<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{Title}}</title>
    <link rel="stylesheet" href="../static/style.css">
      <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
     
      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
    
        <nav class="z-depth-0 white">
                <div class="nav-wrapper white ">
                    <ul id="nav-mobile" class="left hide-on-med-and-down col s4 ">
                            <li><a class="black-text text-darken-2" href="#">A PROPOS</a></li>
                            <li><a class="black-text text-darken-2" href="#">LES ACTIVITÉS</a></li>
                            <li><a class="black-text text-darken-2" href="#">DICTIONNAIRE ARABE</a></li>
                            <li><a class="black-text text-darken-2" href="#">TEST DE NIVEAU</a></li>   
                    </ul>
                    <a href="#" class="brand-logo center black-text col s2 hide" ><img src={{ url_for('static',filename="logo-mini.png")}} id="logoNav" alt="Logo"></a>
                    <ul id="nav-mobile " class="right hide-on-med-and-down col s4 ">
                           {% if 'user' in session%}
                            <li>
                                    <a class="black-text text-darken-2" id="register" href="#">PROFILE</a>
                            </li>
                            <li><a class="black-text text-darken-2" id="deco" href="#">SE DECONNECTER</a></li>
                            {%else%}
                            <li><a class="black-text text-darken-2" id="register" href="#">S'INSCRIRE</a></li>
                            <li><a class="black-text text-darken-2"  id="login" href="#">SE CONNECTER</a></li>
                            {%endif%}
                        </ul>
                </div>
            </nav>
    <div id="Home" class="actMenu">
        {%block main%}
        <div class="row">
            <div class="col s6" id="ktiba">
                <p > <span class="flow-text">apprendre l'arabe plus </span><br>
                <span class="flow-text">facilement avec un nouveau</span><br>
                <span class="flow-text">système d'apprentissage</span><br>
                <span class="flow-text">pensé pour <u>vous</u></span><br>
                </p>
                <span class="flow-text red-text" id="link"><img src={{url_for('static',filename="right-arrow.svg")}} alt="arrow" style="width: 0.7em;"><a href="#" class="red-text" style="font-size: 1em;font-weight: bold;"> commencer l'experiance</a></span>
            </div>
            
            <div class="col s6  " style="padding-top: 5%;padding-left:150px; ">
            <img src={{ url_for('static',filename="logo-big.png") }} alt="LOGO" id="logoHome">  
        </div>
        </div>
        <div id="VueApp">
            <div class="row center" id="btmbtn">
                    <div class="col s3 center activity" id="listen"><img src={{ url_for('static',filename="activité-yellow.png") }} alt=""> <p><span class="flow-text txtbtns">APPRENDRE L'ARABE <br>EN ECOUTANT</span></p> </div>
                    <div class="col s3 center activity" id="image"><img src={{ url_for('static',filename="activité-red.png") }} alt=""><p><span class="flow-text txtbtn">APPRENDRE L'ARABE <br>EN IMAGES</span></p></div>
                    <div class="col s3 center activity" id="write"><img src={{ url_for('static',filename="activité-blue.png") }} alt=""><p><span class="flow-text txtbtn">APPRENDRE L'ARABE <br>EN ECRIVANT</span></p></div>
                    <div class="col s3 center activity" id="dico"><img src={{ url_for('static',filename="activité-green.png") }} alt=""><p><span class="flow-text txtbtn">DECOUVRIRE PLEIN <br>DE NOUVEAUX MOTS</span></p></div>
                </div>
        </div>
        {% endblock %}
    </div>
    <div id="logform" class="hide ">
        <div class="center">
            <div class="row">
                    <form class="col s12">
                      <div class="row">
                        <div class="input-field col s6">
                          <input id="username" type="text" class="validate center">
                          <label for="username">username</label>
                    </div>
                        <div class="center input-field col s6">
                          <input id="password" type="password" class="validate">
                          <label for="password">password</label>
                        </div>
                      </div>

                      <div class="row center ">
                            <div class=" center submitWrapper" name="action">
                                <img id="logbtn"  style=" width:10% !important" src={{ url_for('static',filename="spot-green.png")}} alt="submit" class="submitIcon">
                                <p class="txtbtna"> se connecter</p>
                            </div>
                        </div>
                    </form>
                  </div>
                </div>
    </div>
    <div id="regform" class="hide">

  <div class="row">
        <form class="col s12" acion="/dd" method="POST">
            <div class="row form ">
                    <div class="input-field col s12">
                      <input id="uname" type="text" class="validate">
                      <label for="uname">Username</label>
                    </div>
                  </div>
          <div class="row">
            <div class="input-field col s6">
              <input  id="first_name" type="text" class="validate">
              <label for="first_name">First Name</label>
            </div>
            <div class="input-field col s6">
              <input id="last_name" type="text" class="validate">
              <label for="last_name">Last Name</label>
            </div>
          </div>
          <div class="row form ">
            <div class="input-field col s12">
              <input id="passwordR" type="password" class="validate">
              <label for="password">Password</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="emailR" type="email" class="validate">
              <label for="email">Email</label>
            </div>
          </div>
                <div class="row center ">
                        <div class=" center submitWrapper"  name="action">
                            <img id="regbtn" type="submit" style=" width:10% !important" src={{ url_for('static',filename="spot-green.png")}} alt="submit" class="submitIcon">
                            <p class="txtbtna"> s'inscrire</p>
                        </div>
                    </div>
        </form>
      </div>
            
    </div>
<script>
 try{document.querySelector("#login").addEventListener("click",e=>{
     document.querySelector("#Home").classList.add("hide")
     document.querySelector(".brand-logo").classList.remove("hide")
     document.querySelector("#logform").classList.remove("hide")
     document.querySelector("#regform").classList.add("hide")
 })}catch{}
 try{
 document.querySelector("#register").addEventListener("click",e=>{
     document.querySelector("#Home").classList.add("hide")
     document.querySelector(".brand-logo").classList.remove("hide")
     document.querySelector("#logform").classList.add("hide")
     document.querySelector("#regform").classList.remove("hide")
 })}catch{}
 try{
 document.querySelector(".brand-logo").addEventListener("click",e=>{
     document.querySelector("#Home").classList.remove("hide")
     document.querySelector(".brand-logo").classList.add("hide")
     document.querySelector("#logform").classList.add("hide")
     document.querySelector("#regform").classList.add("hide")
 })}catch{}
 document.querySelector("#regbtn").addEventListener("click",e=>{
    var data = JSON.stringify({
        userName:document.querySelector("#uname").value,
        FName:document.querySelector("#first_name").value,
        LName:document.querySelector("#last_name").value,
        password:document.querySelector("#passwordR").value,
        Email:document.querySelector("#emailR").value
    })
    console.log("ew")
    fetch("/register",{
        body:data,
        method:"POST",
        headers: {'Content-Type': 'application/json'}
    }).then(r => r.json()).then(r =>{console.log(r);location.reload()})
 })
 
document.querySelector("#logbtn").addEventListener("click",e =>{
    var data = JSON.stringify({
        userName:document.querySelector("#username").value,
        password:document.querySelector("#password").value,
    })
    console.log("ew")
    fetch("/login",{
        body:data,
        method:"POST",
        headers: {'Content-Type': 'application/json'}
    }).then(r => r.json()).then(r =>{console.log(r);location.reload()})
})
try{document.querySelector("#deco").addEventListener("click",e =>{
    fetch("/logout",{
        body:"",
        method:"POST",
        headers: {'Content-Type': 'application/json'}
    }).then(e =>location.reload())
})}catch{}
</script>
</body>
</html>
